@use "sass:math";
// 色
$white: #fff;
$black1: #000;
$black2: #242424;
$black3: #001135;
$gray1: #e9eeef;
$gray2: #e2e2e2;
$gray3: #a9a9a9;
$gray4: #f3f3f3;
$gray5: #626262;
$gray6: #f8f8f8;
$blue1: #001e63;
$blue2: #011950;
$red: #e20000;
